[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.btn.active, .btn.active:focus {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn.active:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
