<!DOCTYPE html>
<html lang="en" ng-app="moduleExample">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>02-controller | Angular.cz</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<!--TODO 5.2 - upravte použití controlleru jako controller as-->
<!--TODO 1 - přidejte vazbu na controller-->
<body>
<!-- Přepínání cvičení - ignorujte @formatter:off--><div style="padding:20px" class="text-center"><a href="/01-templates" style="float:left" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> 01-templates</a><span class="h3">02-controller</span><a href="/03-scope" style="float:right" class="btn btn-default">03-scope<i class="glyphicon glyphicon-chevron-right"></i></a><div class="clearfix"></div><hr class="clearfix"/></div><!-- @formatter:on-->

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-4 well">

      <!--TODO 5.3.1 - upravte použití v ng-model-->
      <!--TODO 3 - přidejte vazbu na objekt user-->
      <label for="userName">Jméno</label>
      <input id="userName" class="form-control">
      <label for="userSurname">Příjmení</label>
      <input id="userSurname" class="form-control">
      <label for="yearOfBirth">Rok narození</label>
      <input id="yearOfBirth" class="form-control" type="number">
    </div>

    <!--TODO 5.3.2 - upravte použití ve výrazech-->
    <div class="col-md-offset-1 col-md-5 well">
      Jméno: {{user.name}}<br/>
      Příjmení: {{user.surname}}<br/>
      Věk: {{getAge()}}<br/>
    </div>
  </div>
</div>
</body>
</html>
