p Vyzkoušejte si end2end testy v nástroji protractor, testy budou testovat, že při změně obsahu formuláře s uživatelskými údaji dojde k propsání informace do vedlejšího sloupce.

h3 1. spusťtě e2e test
ul.task
  li musíte mít stále spuštěný server s příklady
  li v novém terminálu v rootu příkladů spusťte

snippet.
  npm run test-04-protractor-e2e

h3 2. podívejte se jak je test napsaný
ul.task
  li Prozkoumejte soubor s testy #[em protractor-test.js]

h3 3 - vytvořte nový test

p Zkuste dopsat test, který testuje, že změna jména na Josef se projeví ve výpisu

ul.task
  li vytvořte test pojmenovaný #[strong should change name if model is changed]
  li nastavte hodnotu modelu #[strong vm.user.name] na #[strong Josef]
  li očekávejte změnu bindingu #[strong vm.user.name]

hint
  ul
    li vyjít můžete z testu #[strong should change age if model is changed] a modifikovat volání metod:

    ul
      li .sendKeys
      li by.binding

solution
  :highlight-js
    it('should change name if model is changed', function() {
      var userNameElement = element(by.model('vm.user.name'));
      userNameElement.clear().sendKeys('Josef');

      var userNameText = element(by.binding('vm.user.name'));
      expect(userNameText.getText()).toMatch('Josef');
    });

h3 4. Změňte výpis jména na one-time databinding
ul
  li v souboru #[em index.html] změňte výpis jména na one-time databinding
  li vyzkoušejte, že test nyní neprojde

solution
  :highlight-html
    <div>Jméno: {{::vm.user.name}}</div>

h2 EXTRA
h3 5. Pokuste se upravit testy tak, aby používaly Page object pattern

p Jde o to, zapouzdřit elementy a případně také nastavení a získání hodnoty do samostatného objektu, který v beforeEach inicializujete a v testech používáte.

ul.task
  li Upravte testy nebo vraťte kód poslední změny tak aby opět procházeli
  li Pokuste se vytvořit page object a použít jej v testech

ul
  li Ukazatelem úspěchu budou nadále procházející testy

solution
  :highlight-js
    var UserNamePO = function() {
      this.name = element(by.binding('vm.user.name'));
      this.nameInput= element(by.model('vm.user.name'));
      this.surname = element(by.binding('vm.user.surname'));
      this.surnameInput= element(by.model('vm.user.surname'));

      this.setNameInput = function(text) {
        this.nameInput.clear().sendKeys(text);
      };

      this.getNameInput = function() {
        return this.nameInput.getAttribute('value');
      };

      this.getName = function() {
        return this.name.getText();
      };

      this.getSurnameInput = function() {
        return this.surnameInput.getAttribute('value');
      };

      this.getSurname = function() {
        return this.surname.getText();
      };

      this.goTo = function() {
        browser.get('index.html');
      };

      this.yearOfBirthInput = element(by.model('vm.user.yearOfBirth'));
      this.age =  element(by.binding('vm.getAge()'));

      this.setYearOfBirth = function(year) {
        this.yearOfBirthInput.clear().sendKeys(year);
      };

      this.getAge = function() {
        return this.age.getText();
      };
    };

    describe('controller-03 example tested with page object', function() {

      var pageObject;
      beforeEach(function() {
        pageObject = new UserNamePO();
        pageObject.goTo();
      });

      it('should have initial settings', function() {
        expect(pageObject.getNameInput()).toBe('Petr');
        expect(pageObject.getName()).toMatch('Petr');

        expect(pageObject.getSurnameInput()).toBe('Novák');
        expect(pageObject.getSurname()).toBe('Příjmení: Novák');
      });

      it('should change age if model is changed', function() {
        var now = new Date();
        var expectedYear = now.getFullYear() - 1970;

        pageObject.setYearOfBirth('1970');
        expect(pageObject.getAge()).toMatch(expectedYear.toString());
      });

      it('should change name if model is changed', function() {
        pageObject.setNameInput('Josef');
        expect(pageObject.getName()).toMatch('Josef');
      });

    });

