p V #[strong directive-01] jsme řešili taby pomocí switche a metod v controlleru, nyní tento příklad převedeme na komponenty.
  ul
    li Cílem bude dokončit komponentu představující #[strong tabset], která umí zobrazovat své taby, stará se o zobrazení odkazů a přepínání tabů.
    li Poté dokončit druhou, která představuje samotný #[strong tab] a dává o sobě vědět nadřazenému #[strong tabsetu].

h3 1. Komponenta tab

ul
  li na úvodní straně vidíte, vyrenderováno několik tabů
  li podívejte se, jak je direktiva #[strong tab] použita v šabloně #[em index.html], má přiřazen nadpis a obklopuje obsah tabu
  li v šabloně direktivy #[em tab.html] se podívejte jak je pomocí #[strong transclude] vkládán obsah

h4 1.1 - změňte directivu tab na komponentu
ul.task
  li podívejte se, jak je definiční objekt direktivy registrován do modulu angularu
  li zaměňte volání metody #[strong .directive] za vytvoření komponenty

hint Pro vytvoření komponenty se používá metoda #[strong .component], požaduje předání jen samotného definičního objektu.

solution
  :highlight-js
    angular.module('directiveApp', [])
      .controller('InfoController', InfoController)
      .component('tab', tab);

h4 1.2 - změňte definiční objekt na komponentu
ul
  li po předchozím kroku zmizely titulky tabů
  li direktivy totiž používají pro určení vstupů #[strong scope] a #[strong bindToController], u komponenty je tomu jinak
  li.task použijte místo #[strong scope] a #[strong bindToController] správný attribut

hint Komponenta používá místo #[strong scope] a #[strong bindToController] attribut #[strong bindings]

solution
  :highlight-js
    var tab = {
      templateUrl: 'tab.html',
      transclude: true,

      bindings: {
        header: '@'
      },

      controllerAs: 'tab',
      controller: function() {
      }
    };
ul
  li.task Zkontrolujte, zda se taby zobrazují v pořádku a můžete pokračovat.

h3 2. Komponenta tabset
h4 2.1 - přidejte komponentu tabset
ul
  li definiční objekt komponenty #[strong tabset] je již připraven
  li.task přidejete tedy komponentu #[strong tabset] pomocí patřičné metody do modulu

hint Použijte opět metodu #[strong .component]

solution
  :highlight-js
    .component('tabset', tabset)

h4 2.2 - použijte komponentu tabset, tak aby obklopovala taby
ul
  li.task v #[em index.html] použijte #[strong tabset] jako rodičovský element okolo skupiny tabů

solution
  :highlight-html
    <tabset>
      <tab header="O nás">
      ...
      </tab>
      ...
    </tabset>

h4 2.3 - přidejte komponentě controller
ul.task
  li přidejte do definičního objektu komponenty předpřipravený controller #[strong TabsetController]
  li pojmenujte controller pro šablonu #[strong tabset]

hint Použijte attributy definičního objektu #[strong controller] a #[strong controllerAs]

solution
  :highlight-js
    controllerAs: 'tabset',
    controller: TabsetController

h3 3 - Komunikace mezi komponentami
h4 3.1 - přidejte závislost na tabset
ul.task
  li přidejte do komponenty #[strong tab] závislost na komponentě #[strong tabset], ta se musí vyskytovat v hierarchii nad ní. Jako název pro binding do controlleru použijte #[strong tabsetController]

hint
  | Pro definici závislosti použijte #[strong require] ve tvaru objektu.
  ul
   li klíč definuje název pod kterým bude kontroler závislosti dostupný jako vlastnost kontroleru komponenty
    li hodnotou je řetězec s názvem komponenty a modifikátory (speciální znaky), které určují umístění v DOM, ve kterém se bude závislt hledat.
    li že se má komponenta vyskytovat v hierarchii určíte pomocí znaku #[strong ^]

solution
  :highlight-js
    require: {
      tabsetController: '^tabset'
    }

h4 3.2 - komunikace s komponentou tabset
p Komponenta tab musí po své inicializaci informovat tabset o  své přítomnosti.
ul.task
  li v controlleru komponenty #[strong tab] definujte metodu #[strong $onInit], která je volána po inicializaci komponenty, kdy je již dokončen binding
  li v metodě #[strong $onInit] zavolejte metodu #[strong add] na #[strong tabsetController] a předejte jí samotný controller #[strong tab] - tedy #[strong this]

hint.
  #[strong tabsetController] je dostupný jako vlastnost controlleru, protože jsme si jej takto pojmenovali v předchozím kroku.
  Metodu #[strong add] tedy můžeme volat jako #[strong this.tabsetController.add()]

solution
  :highlight-js
    controller: function() {
      this.$onInit = function() {
        this.tabsetController.add(this);
      }
    }

ul
  li Pokud komunikace funguje, uvidíte tlačítka pro jednotlivé taby, zvolený první z nich a funguje také přepínání
  li.task Vyzkoušejte, přepínání tabů
  li.task Můžete vyzkoušet přidání dalšího tabu, a ověřit tak, že jsou komponenty nezávislé

h2 EXTRA

h3 5 - Připravte callback onChange pro komponnentu tabset

h4 5.1 - umožněte předání callbacku
ul.task
  li V definici vstupů/výstupů komponenty #[strong tabset] definujte možnost předat callback #[strong on-change]

hint Pro definici vstupů a výstupů se používá parametr #[strong bindings].
  br
  | Typ callback se značí pomocí symbolu #[strong &].

solution
  :highlight-js
    bindings: {
      onChange: "&"
    },

h4 5.2 - předejte callback
ul.task
  li v #[em index.html] předejte komponentě #[strong tabset] jako callback #[strong on-change] metodu #[strong info.reportChange]
  li metoda jako parameter očekává #[strong header] tabu

hint Parametr metody pro zavolání se v případě & callbacku zapisuje skutečně jako volání s vyjmenovanými parametry, které volání požaduje.

solution
  :escape
    <tabset on-change="info.reportChange(header)">

h4 5.3 - zavolejte callback onChange
ul
  li.task v metodě #[strong select] zavolejte callback, jako parametr #[strong header] jí předejte #[strong tab.header]

hint Při volání callbacku se jako parameter předává objekt, kde klíč je název parametru.
  br
  | Callback #[strong onChange] je nabindovaný přímo na contolleru.
solution
  :highlight-js
    this.onChange({header: tab.header});

ul
  li při změně tabu se nyní bude pod taby zobrazovat také informace o vybraném tabu
