p.
  Při tomto cvičení se výsledky zobrazují v konsoli prohlížeče.

h3 1 - Implementujte generátor

p.
  Využijte vlastností funkcí a closure k implementaci jednoduchého generátoru

ul.task
  li vytvořte funkci #[strong generator], která přijímá jeden parametr - iniciální hodnotu
  li tato funkce bude vracet jinou funkci, která při každém volání vrátí aktuální hodnotu zvýšenou o jedna

p.
  Použití generátoru by mělo vypadat takto, najdete ho již připravené v #[strong app.js]

snippet
  :highlight-js
    var gen1 = generator(0);

    console.log(gen1());
    console.log(gen1());
    console.log(gen1());

solution
  :highlight-js
    function generator(start) {
      var current = start;

      return function() {
        return ++current;
      };
    }

h3 2 - Implementujte objektovou variantu generátoru

strong Tuto část budete zpracovávat až po vysvětlení práce s objekty

p Ve stejném souboru jako jste zpracovávali první část vytvořte objektovou formu generátoru.
  ul.task vytvořte konstrukční funkci generátoru přijímající iniciální hodontu
    li přidejte generátoru metodu #[strong getNext], která vrátí hodnotu navýšenou o jedna
    li generátor instancujte s iniciální hodnotou 10 a zavolejte několikrát metodu #[strong getNext]

p Použití generátoru bude tedy vypadat následovně:

snippet
  :highlight-js
    var gen2 = new Generator(10);

    console.log(gen2.getNext());
    console.log(gen2.getNext());
    console.log(gen2.getNext());

solution
  :highlight-js
    var Generator = function(initialNumber) {
      this.number = initialNumber;
      this.getNext = function() {
        return ++this.number;
      };
    };

h4 2.1 - Přesuňte metodu do prototype
ul.task
  li přesuňte metodu #[strong getNext] do #[strong prototype]
  li pokud jste pro předání hodnoty použili closure, pozorujte co se stane

solution
  :highlight-js
    var Generator = function(initialNumber) {
      this.number = initialNumber;
    };

    Generator.prototype.getNext = function() {
      return ++this.number;
    };
